<div class="audioplayer">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Audio Player</title>  
</head>
<body>
    
    <audio-player title="" id="myAudio" autoplay
     
        src="/static/sound/serenity.mp3" type="audio/mp3"
         
                  
                  bar-width="10"
                  bar-gap="2"
                  loop autoplay   
                  
                   ></audio-player>

    <script src="/static/js/audio-player.js"></script>
</body>
</html>
</div>


