<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <div class="contact" id="contact">
            <div class="contact-box">
                <div class="contact-image">
                    <img src="/static/images/bg-image.jpeg">
                </div>
            </div>
            <div class="contact-box">
                <div class="contact-body">
                    <form>
                        <h2>Contact Us</h2>
                        <div class="form-content">
                            <input type="text" required>
                            <span></span>
                            <label>Username</label>
                        </div>
                        <div class="form-content">
                            <input type="email" required>
                            <span></span>
                            <label>Email</label>
                        </div>
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>

<div class="footer">
    <div class="footer-box">
        <div class="social-media">
            <a href="https://www.facebook.com/daniel.pglgn/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/daniel.pglgn/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/danielpglgn"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCMBoyxO6e8_I3LxK-57AHkQ"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="copyright">
            <label>Daniel Boni V. Pagilagan &copy; 2023</label>
        </div>
        <div class="brand">
            <label>© 2023 Ko-Fi Cafe.  <span>All rights reserved.</span></label>
        </div>
    </div>
</div>  



